INPUT[type=button] {
	FONT-SIZE: 100%; BORDER-TOP: darkgray 1px double; BORDER-RIGHT: darkgray 1px double; BACKGROUND: lightgrey; BORDER-BOTTOM: darkgray 1px double; COLOR: black; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: darkgray 1px double; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT[type=reset] {
	FONT-SIZE: 100%; BORDER-TOP: darkgray 1px double; BORDER-RIGHT: darkgray 1px double; BACKGROUND: lightgrey; BORDER-BOTTOM: darkgray 1px double; COLOR: black; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: darkgray 1px double; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT[type=submit] {
	FONT-SIZE: 100%; BORDER-TOP: darkgray 1px double; BORDER-RIGHT: darkgray 1px double; BACKGROUND: lightgrey; BORDER-BOTTOM: darkgray 1px double; COLOR: black; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: darkgray 1px double; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	FONT-SIZE: 100%; BORDER-TOP: darkgray 1px double; BORDER-RIGHT: darkgray 1px double; BACKGROUND: lightgrey; BORDER-BOTTOM: darkgray 1px double; COLOR: black; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: darkgray 1px double; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT[type=text] {
	PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT[type=password] {
	PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.deletebutton {
	COLOR: red !important
}
.updatebutton {
	
}
.searchbutton {
	
}
.registbutton {
	
}
.clearbutton {
	
}
.csvbutton {
	
}
.backbutton {
	
}
.closebutton {
	
}
.confirmbutton {
	
}
.findingfieldset {
	BORDER-TOP: #1a1ad4 1px solid; BORDER-RIGHT: #1a1ad4 1px solid; BORDER-BOTTOM: #1a1ad4 1px solid; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 4px; BORDER-LEFT: #1a1ad4 1px solid; MARGIN: 0px; PADDING-RIGHT: 4px
}
.findingfieldset LEGEND {
	FONT-SIZE: 100%; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; BORDER-LEFT: #ffffff 1px solid; MARGIN: 0px 0px 0px 10px; PADDING-RIGHT: 10px
}
.imeon {
	IME-MODE: active
}
.imeoff {
	IME-MODE: disabled
}
.rightandimeoff {
	IME-MODE: disabled; TEXT-ALIGN: right; PADDING-RIGHT: 2px
}
INPUT[type=text].imeon {
	IME-MODE: active
}
INPUT[type=text].imeoff {
	IME-MODE: disabled
}
INPUT[type=text].rightandimeoff {
	IME-MODE: disabled; TEXT-ALIGN: right; PADDING-RIGHT: 2px
}
TR.trItem {
	BACKGROUND-COLOR: #e0ffff
}
TR.trAlternatingItem {
	BACKGROUND-COLOR: #c8ffff
}
TH.thlabel {
	WIDTH: 140px
}
TD.tditem {
	WIDTH: 200px
}
TH.thlabel2 {
	WIDTH: 130px
}
TD.tditem2 {
	WIDTH: 215px
}
TH.thlabel3 {
	WIDTH: 113px
}
TD.tditem3 {
	WIDTH: 180px
}
TH.thlabel4 {
	WIDTH: 100px
}
TD.tditem4 {
	WIDTH: 100px
}
TH.thlabel5 {
	WIDTH: 120px
}
TD.tditem5 {
	WIDTH: 135px
}
TH.thlabel6 {
	WIDTH: 100px
}
TD.tditem6 {
	WIDTH: 100px
}
TD {
	WORD-BREAK: break-all
}
TD DIV {
	BORDER-TOP-STYLE: none; OVERFLOW: hidden; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
TD.tdright {
	TEXT-ALIGN: right
}
#topmain {
	WIDTH: 100%; FLOAT: right; MARGIN: 0px 0px 0px -500px
}
#menuinfo-area {
	POSITION: relative; TEXT-ALIGN: left; MARGIN: 0px 0px 0px 500px
}
#menuinfo-area UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 0px 0px 1.5em; PADDING-RIGHT: 0px
}
.menuinfohederarea IMG {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 16px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; MARGIN-RIGHT: 0.5em
}
.menuinfohederarea H2 {
	FONT-SIZE: 123.1%; FONT-WEIGHT: bolder; COLOR: red
}
#menuinfomainarea {
	PADDING-TOP: 0.5em
}
#menuinfomainarea DL {
	MARGIN-TOP: 0px
}
#menuinfomainarea DD {
	MARGIN-BOTTOM: 10px; WORD-BREAK: break-all
}
UNKNOWN {
	OVERFLOW: auto
}
UNKNOWN {
	WHITE-SPACE: normal
}
#menu-area {
	WIDTH: 500px; FLOAT: left; TEXT-ALIGN: left
}
#menu-area H3 {
	DISPLAY: none
}
#menu-area P {
	FONT-SIZE: 108%; MARGIN-BOTTOM: 5px; FONT-WEIGHT: bolder
}
#menu-area UL {
	MARGIN-BOTTOM: 10px; BORDER-TOP: #00b328 1px solid; BORDER-RIGHT: #00b328 1px solid; MARGIN-TOP: 0px; BORDER-BOTTOM: #00b328 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #00b328 1px solid; PADDING-RIGHT: 2px
}
#menu-area LI {
	LIST-STYLE-TYPE: none; WORD-BREAK: break-all; MARGIN: 5px
}
UNKNOWN {
	OVERFLOW: auto
}
UNKNOWN {
	WHITE-SPACE: nowrap
}
.menugroupimg {
	HEIGHT: 16px; WIDTH: 16px; MARGIN-RIGHT: 0.5em
}
.menuitemimg {
	HEIGHT: 11px; WIDTH: 11px; MARGIN-RIGHT: 1em
}
.message-section {
	WIDTH: 100%; DISPLAY: block
}
.section {
	MARGIN-BOTTOM: 0px; WIDTH: 100%; DISPLAY: block
}
.btnlowerright_blank {
	HEIGHT: 21px; WIDTH: 100%; FLOAT: left; CONTENT: url("../_img/space.gif")
}
.btnlowerright {
	RIGHT: 2px; POSITION: absolute; BOTTOM: 5px
}
.message-area {
	HEIGHT: 300px; WIDTH: 100%; DISPLAY: table
}
.message-area-inner {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; VERTICAL-ALIGN: middle; BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; BORDER-RIGHT-STYLE: none; DISPLAY: table-cell
}
.message-area-inner P {
	FONT-SIZE: 197%; MARGIN: 0.5em
}
.message-area-inner DIV {
	DISPLAY: inline
}
.messagelist-area {
	OVERFLOW: auto; WIDTH: 100%
}
.messagelist-area UL {
	MARGIN: 0px 0px 0px 1em
}
.messagelist-area UL LI {
	LIST-STYLE-TYPE: none !important
}
.pager {
	PADDING-BOTTOM: 2px; TEXT-ALIGN: right
}
.button-area {
	WIDTH: 100%; MARGIN-TOP: 5px; POSITION: relative
}
.reference-area {
	WIDTH: 100%; POSITION: relative
}
.condition-area {
	WIDTH: 100%; POSITION: relative
}
.registration-area {
	WIDTH: 100%; POSITION: relative
}
.list-area {
	WIDTH: 100%; POSITION: relative
}
.buttonmain {
	FLOAT: left
}
.referencemain {
	FLOAT: left
}
.conditionmain {
	FLOAT: left
}
.registrationmain {
	FLOAT: left
}
.listmain {
	FLOAT: left
}
.reference-area TABLE {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none
}
.condition-area TABLE {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none
}
.registration-area TABLE {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none
}
.list-area TABLE {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; FLOAT: left; BORDER-RIGHT-STYLE: none
}
.reference-area TH {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #dddddd
}
.condition-area TH {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #dddddd
}
.registration-area TH {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #dddddd
}
.list-area TH {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #dddddd
}
.reference-area TH {
	BORDER-TOP-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #ffffff; PADDING-RIGHT: 2px
}
.reference-area TD {
	BORDER-TOP-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #ffffff; PADDING-RIGHT: 2px
}
.condition-area TH {
	BORDER-TOP-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #ffffff; PADDING-RIGHT: 2px
}
.condition-area TD {
	BORDER-TOP-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #ffffff; PADDING-RIGHT: 2px
}
.registration-area TH {
	BORDER-TOP-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #ffffff; PADDING-RIGHT: 2px
}
.registration-area TD {
	BORDER-TOP-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #ffffff; PADDING-RIGHT: 2px
}
.list-area TH {
	BORDER-TOP-COLOR: #cccccc; BORDER-LEFT-COLOR: #cccccc; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #cccccc; PADDING-RIGHT: 2px
}
.list-area TD {
	BORDER-TOP-COLOR: #cccccc; BORDER-LEFT-COLOR: #cccccc; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-RIGHT-COLOR: #cccccc; PADDING-RIGHT: 2px
}
.list-area TABLE HR {
	BORDER-TOP: 1px solid; HEIGHT: 1px; BORDER-RIGHT: 0px solid; WIDTH: 100%; BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; MARGIN: 6px 0px
}
.list-area TABLE TH HR {
	BORDER-TOP-COLOR: white; BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; BORDER-RIGHT-COLOR: white
}
.list-area TABLE TD HR {
	BORDER-TOP-COLOR: #cccccc; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; BORDER-RIGHT-COLOR: #cccccc
}
.headerfixationtable .headerfixationtable DIV {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
.headerfixationtable TABLE {
	BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 0px; BORDER-LEFT-STYLE: none; BORDER-TOP-COLOR: white; BORDER-BOTTOM: white 0px; FLOAT: none; BORDER-LEFT-COLOR: white; BORDER-RIGHT-STYLE: none; BORDER-RIGHT-COLOR: white
}
.headerfixationtable TABLE TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.headerfixationtable TABLE TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.headerfixationtable TABLE TD TABLE TH {
	HEIGHT: 20px
}
.headerfixationtable TABLE TD TABLE TH {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.headerfixationtable TABLE TD DIV TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.headerfixationtable TABLE TD {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
.headerfixationtable TABLE TD TABLE TD TABLE TD {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.headerfixationtable TABLE TABLE TD DIV {
	OVERFLOW-X: hidden; OVERFLOW-Y: scroll
}
.headerfixationtable TABLE TABLE TD DIV TD {
	WORD-BREAK: break-all
}
.headerfixationtable TABLE TABLE TD DIV TD DIV {
	BORDER-TOP-STYLE: none; OVERFLOW: hidden; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
.listtable-with-pager-a {
	HEIGHT: auto !important; MIN-HEIGHT: 460px
}
.listtable-with-pager-popup {
	HEIGHT: auto !important; MIN-HEIGHT: 245px
}
.fromto {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.selitem LABEL {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.selitem TABLE {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.selitem TD {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-LEFT: 0px; BORDER-TOP-WIDTH: 0px
}
.borderClear INPUT[type=radio] {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none
}
.inputArea TABLE TH {
	WIDTH: 160px
}
.read {
	COLOR: #6d6d6d; BACKGROUND-COLOR: #d3ccd6
}
.ksiHenPrmListTable TABLE TD {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
TH {
	BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
