BODY {
	FONT: small/1.231 arial,helvetica,clean,sans-serif
}
SELECT {
	FONT: 99% arial,helvetica,clean,sans-serif
}
INPUT {
	FONT: 99% arial,helvetica,clean,sans-serif
}
BUTTON {
	FONT: 99% arial,helvetica,clean,sans-serif
}
TEXTAREA {
	FONT: 99% arial,helvetica,clean,sans-serif
}
TABLE {
	
}
PRE {
	FONT-SIZE: 108%; FONT-FAMILY: monospace; LINE-HEIGHT: 100%
}
CODE {
	FONT-SIZE: 108%; FONT-FAMILY: monospace; LINE-HEIGHT: 100%
}
KBD {
	FONT-SIZE: 108%; FONT-FAMILY: monospace; LINE-HEIGHT: 100%
}
SAMP {
	FONT-SIZE: 108%; FONT-FAMILY: monospace; LINE-HEIGHT: 100%
}
TT {
	FONT-SIZE: 108%; FONT-FAMILY: monospace; LINE-HEIGHT: 100%
}
