#sd-color01 {
	background: url("/sd/javax.faces.resource/html/common/images/bg_body1.jpg.jsf") repeat-x 50% 0px;
}
#sd-color01 #wrapper #main #loginTitle h2 {
	background: url("/sd/javax.faces.resource/html/common/images/bg_h2_01.gif.jsf") no-repeat left top;
}
#sd-color01 #wrapper2 #main #loginTitle h2 {
	background: url("/sd/javax.faces.resource/html/common/images/bg_h2_01.gif.jsf") repeat-x left top;
}
#sd-color01 #wrapper2 #main #loginform h2 span {
	background: url("/sd/javax.faces.resource/html/common/images/icon_login_01.gif.jsf") no-repeat left top;
}
#sd-color01 #main #loginform {
	border: 4px solid rgb(23, 68, 119); border-image: none;
}
#sd-color01 #main #userInfo {
	border: 4px solid rgb(204, 204, 204); border-image: none;
}
#sd-color02 {
	background: repeat-x 50% 59px;
}
#sd-color02 #wrapper #main #loginTitle h2 {
	background: no-repeat left top;
}
#sd-color02 #wrapper2 #main #loginTitle h2 {
	background: repeat-x left top;
}
#sd-color02 #wrapper2 #main #loginform h2 span {
	background: no-repeat left top;
}
#sd-color02 #main #loginform {
	border: 4px solid rgb(34, 180, 51); border-image: none;
}
#sd-color03 {
	background: url("/sd/javax.faces.resource/html/common/images/bg_body3.jpg.jsf") fixed repeat-x 50% 0%;
}
#sd-color03 #wrapper #main #loginTitle h2 {
	background: url("/sd/javax.faces.resource/html/common/images/bg_h2_01.gif.jsf") no-repeat left top;
}
#wrapper {
	margin: 0px auto; text-align: left;
}
#wrapper2 {
	margin: 0px auto; text-align: left;
}
#header {
	background: rgb(255, 255, 255); padding: 10px 0px; width: 100%; height: 70px;
}
#header h1 {
	padding-right: 12px; float: right;
}
#header .corplogo {
	padding-left: 12px; float: left;
}
#wrapper #main {
	margin: 0px auto; width: 752px; clear: both;
}
#wrapper #main #loginTitle h2 {
	margin: 20px 0px; padding: 10px 24px 0px 72px; width: 656px; height: 31px; color: rgb(255, 255, 255); line-height: 1; font-size: 175%; font-weight: bold;
}
#wrapper #main #loginform {
	background: rgb(255, 255, 255); padding: 10px 20px 6px; width: 345px; height: 194px; float: left;
}
#wrapper #main #loginform .language {
	text-align: right; padding-right: 0px; font-weight: bold;
}
#wrapper #main #loginform .errmsg {
	text-align: left; color: red; font-weight: bold; -ms-word-wrap: break-word;
}
#wrapper #main #loginform .loginform2 th {
	width: 75px; vertical-align: top;
}
#wrapper #main #loginform .loginform2 td {
	width: 256px; vertical-align: top;
}
#wrapper #main #loginform .id {
	padding-top: 21px; font-weight: bold;
}
#wrapper #main #loginform .idform {
	padding-top: 20px;
}
#wrapper #main #loginform .pass {
	padding-top: 16px; font-weight: bold;
}
#wrapper #main #loginform .passform {
	padding-top: 15px;
}
#wrapper #main #loginform .passReminder {
	padding-top: 4px;
}
#wrapper #main #loginform .secmode {
	margin-top: 0px; margin-left: 75px;
}
#wrapper #main #loginform .btnLogin {
	background: url("/sd/javax.faces.resource/html/common/images/btn_login_left.gif.jsf") no-repeat left top; height: 35px; color: rgb(255, 255, 255); padding-left: 6px; font-size: 140%; font-weight: bold; margin-top: 0px;
}
#wrapper #main #loginform .btnLogin a {
	background: url("/sd/javax.faces.resource/html/common/images/btn_login_right.gif.jsf") no-repeat right top; height: 30px; padding-top: 5px; padding-right: 14px; padding-left: 3px; display: inline-block;
}
#wrapper #main #loginform .btnLogin a span {
	background: url("/sd/javax.faces.resource/html/common/images/icon_loginbtn.gif.jsf") no-repeat 0px 0px; height: 29px; padding-left: 44px; display: inline-block;
}
#wrapper #main #loginform .btnLogin a:link {
	color: rgb(23, 68, 119);
}
#wrapper #main #loginform .btnLogin a:visited {
	color: rgb(23, 68, 119);
}
#wrapper #main #loginform .btnLogin a:active {
	color: rgb(0, 51, 153);
}
#wrapper #main #loginform .btnLogin a:hover {
	color: rgb(80, 132, 255);
}
#wrapper #main #loginform .useguide {
	background: url("/sd/javax.faces.resource/html/common/images/icon_guide.gif.jsf") no-repeat 0px 0px; padding-top: 1px; padding-bottom: 1px; float: left;
}
#wrapper #main #loginform .useguide a:link {
	color: rgb(230, 0, 18);
}
#wrapper #main #loginform .useguide a:visited {
	color: rgb(230, 0, 18);
}
#wrapper #main #loginform .useguide a:active {
	color: rgb(255, 61, 76);
}
#wrapper #main #loginform .useguide a:hover {
	color: rgb(255, 61, 76);
}
#wrapper #main #loginform .useguide .iconGuide {
	padding-left: 17px;
}
#wrapper #main #userInfo {
	background: rgb(255, 255, 255); padding: 8px 20px; width: 305px; height: 194px; float: right;
}
#wrapper #main #userInfo {
	font-size: 110%; -ms-zoom: 1; _height: 1%;
}
#wrapper #main #userInfo::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
#userInfoBox dt {
	font-weight: bold;
}
#userInfoBox dd {
	padding-bottom: 18px; margin-bottom: 18px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#main #sysInfo {
	padding-top: 20px; clear: both; font-size: 110%;
}
#main #sysInfo #sysInfoTitle h3 {
	background: url("/sd/javax.faces.resource/html/common/images/bg_sysinfo.gif.jsf") repeat-x 0px 0px; margin: 0px 0px 16px; padding: 5px 6px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 12px;
}
#sysInfoBox dt {
	font-weight: bold; margin-bottom: 12px;
}
#sysInfoBox dd {
	padding-bottom: 18px; margin-bottom: 18px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#wrapper2 #main {
	margin: 0px auto; width: 752px; clear: both;
}
#wrapper2 #main #loginform .language {
	text-align: right; font-weight: bold; margin-left: 50px;
}
#wrapper2 #main #loginform {
	background: rgb(255, 255, 255); padding: 10px 20px 15px; width: 702px; height: 135px; float: left;
}
#wrapper2 #main #loginTitle h2 {
	margin: 20px 0px; padding: 10px 24px 0px 72px; width: 656px; height: 31px; color: rgb(255, 255, 255); line-height: 1; font-size: 175%; font-weight: bold;
}
#wrapper2 #main h2 span {
	padding-top: 4px; padding-bottom: 6px; padding-left: 0px; display: inline-block;
}
#wrapper2 #main #loginform .guestform {
	margin: 0px auto; width: 656px;
}
#wrapper2 #main #loginform .readme {
	margin-top: 10px; margin-right: auto; margin-left: 100px;
}
#wrapper2 #main #loginform .errmsg {
	text-align: left; color: red; font-weight: bold; margin-left: 100px; -ms-word-wrap: break-word;
}
#wrapper2 #main #loginform .loginform2 th.id {
	padding-left: 100px; font-weight: bold; vertical-align: top;
}
#wrapper2 #main #loginform .loginform2 td.idform {
	vertical-align: top;
}
#wrapper2 #main #loginform .loginform2 th.pass {
	width: 75px; padding-top: 16px; padding-left: 100px; font-weight: bold; vertical-align: top;
}
#wrapper2 #main #loginform .loginform2 td.passform {
	width: 256px; padding-top: 15px; vertical-align: top;
}
#wrapper2 #main #loginform .loginform2 td.passReminder {
	width: 256px; padding-top: 4px; vertical-align: top;
}
#wrapper2 #main #loginform .loginform2 td.login {
	width: 149px; padding-top: 7px; padding-left: 20px; vertical-align: top;
}
#wrapper2 #main #loginform .secmode {
	margin-top: 12px;
}
#wrapper2 #main #loginform .btnLogin {
	background: url("/sd/javax.faces.resource/html/common/images/btn_login_left.gif.jsf") no-repeat left top; height: 35px; color: rgb(255, 255, 255); padding-left: 6px; font-size: 140%; font-weight: bold;
}
#wrapper2 #main #loginform .loginform2 .btnLogin a {
	background: url("/sd/javax.faces.resource/html/common/images/btn_login_right.gif.jsf") no-repeat right top; height: 30px; padding-top: 5px; padding-right: 14px; padding-left: 3px; display: inline-block;
}
#wrapper2 #main #loginform .loginform2 .btnLogin a span {
	background: url("/sd/javax.faces.resource/html/common/images/icon_loginbtn.gif.jsf") no-repeat 0px 0px; height: 29px; padding-left: 44px; display: inline-block;
}
#wrapper2 #main #loginform .loginform2 .btnLogin a:link {
	color: rgb(23, 68, 119);
}
#wrapper2 #main #loginform .loginform2 .btnLogin a:visited {
	color: rgb(23, 68, 119);
}
#wrapper2 #main #loginform .loginform2 .btnLogin a:active {
	color: rgb(0, 51, 153);
}
#wrapper2 #main #loginform .loginform2 .btnLogin a:hover {
	color: rgb(80, 132, 255);
}
#wrapper2 #main #loginform .guidebox {
	text-align: right; padding-top: 27px; clear: both; margin-right: 24px;
}
#wrapper2 #main #loginform .useguide {
	background: url("/sd/javax.faces.resource/html/common/images/icon_guide.gif.jsf") no-repeat 100px 0px; padding-top: 1px; padding-bottom: 1px; float: left;
}
#wrapper2 #main #loginform .useguide a:link {
	color: rgb(230, 0, 18);
}
#wrapper2 #main #loginform .useguide a:visited {
	color: rgb(230, 0, 18);
}
#wrapper2 #main #loginform .useguide a:active {
	color: rgb(255, 61, 76);
}
#wrapper2 #main #loginform .useguide a:hover {
	color: rgb(255, 61, 76);
}
#wrapper2 #main #loginform .useguide .iconGuide {
	padding-left: 117px;
}
#footer {
	padding: 6px 0px; width: 100%; clear: both; margin-top: 24px; border-top-color: rgb(23, 68, 119); border-top-width: 2px; border-top-style: solid;
}
#footer .copyright {
	color: rgb(23, 68, 119); padding-left: 12px; font-size: 80%;
}
.width-px256 {
	width: 256px;
}
.border-ccc {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
table.userinfo {
	background-color: rgb(255, 255, 255);
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.leadcopy {
	color: rgb(255, 255, 255); font-weight: bold;
}
.colorred {
	color: rgb(230, 0, 18);
}
.clear {
	clear: both;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.font80 {
	font-size: 80%;
}
.checkbtn {
	vertical-align: middle;
}
.width10 {
	width: 10%;
}
.width15 {
	width: 15%;
}
.width20 {
	width: 20%;
}
.width25 {
	width: 25%;
}
.width30 {
	width: 30%;
}
.width35 {
	width: 35%;
}
.width40 {
	width: 40%;
}
.width45 {
	width: 45%;
}
.width50 {
	width: 50%;
}
.dialog {
	background: url("/sd/javax.faces.resource/html/common/images/dialog_top.gif.jsf") no-repeat top; padding-top: 6px; margin-top: 20px;
}
.dialog .inner {
	background: rgb(255, 255, 255); padding: 4px 20px 14px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.dialog .inner h3 {
	font-weight: bold; margin-top: 20px;
}
.dialog .inner .dl-limit {
	padding-top: 3px; font-size: 90%;
}
.dialog .inner .graybox {
	padding: 12px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.dialog table.receiveData {
	width: 710px;
}
.dialog table.receiveData th {
	background: rgb(242, 242, 242); padding: 5px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; text-align: center; font-weight: bold;
}
.dialog table.receiveData td {
	padding: 3px 10px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
.dialog .inner table.receiveComment {
	
}
.dialog .inner table.receiveComment th {
	width: 72px; padding-top: 5px; font-weight: normal; vertical-align: top;
}
.dialog .inner table.receiveComment td {
	padding-top: 5px; vertical-align: top;
}
#header .btnLogout {
	margin-top: 10px; margin-right: 20px; float: right;
}
.receivecommentbox {
	padding: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 600px; height: 80px; -ms-overflow-y: scroll;
}
