ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
li {
	list-style-type: none;
}
.btnLogout {
	background: url("/sd/javax.faces.resource/images/common/btn_logout_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 10px; height: 19px;
}
.btnLogout a {
	background: url("/sd/javax.faces.resource/images/common/btn_logout_rg.gif.jsf") no-repeat right top; padding: 4px 20px 0px 10px; height: 15px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnLogout a:link {
	color: rgb(44, 91, 177);
}
.btnLogout a:visited {
	color: rgb(44, 91, 177);
}
.btnLogout a:hover {
	color: rgb(80, 132, 255);
}
ul.selectHorizontal {
	margin: 0px; padding: 0px; position: static;
}
ul.selectHorizontal li {
	margin: 0px 16px 0px 0px; overflow: hidden; font-size: 12px; float: left; position: static;
}
ul.selectItemHorizontal {
	margin: 0px; padding: 0px; position: static;
}
ul.selectItemHorizontal li {
	margin: 0px; overflow: hidden; font-size: 12px; float: left; position: static;
}
ul.selectVertical {
	margin: 0px; padding: 0px;
}
ul.selectVertical li {
	overflow: hidden; font-size: 12px; position: relative;
}
ul.selectItemVertical {
	margin: 0px; padding: 0px;
}
ul.selectItemVertical li {
	margin: 0px; overflow: hidden; font-size: 12px; position: relative;
}
ul.toolNavi {
	margin: 0px; padding: 0px;
}
ul.toolNavi li {
	margin: 4px 4px 0px 0px; padding: 3px 8px 3px 7px; height: 28px; color: rgb(255, 255, 255); overflow: hidden; font-size: 12px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left; position: relative;
}
ul.toolNavi li a {
	height: 28px; line-height: 1; padding-top: 6px; padding-left: 24px; text-decoration: none; float: left;
}
ul.toolNavi li a:link {
	color: rgb(255, 255, 255);
}
ul.toolNavi li a:visited {
	color: rgb(255, 255, 255);
}
ul.toolNavi li a:hover {
	color: rgb(204, 204, 204);
}
ul.toolNavi li.btn01 {
	background: url("/sd/javax.faces.resource/btn_send.gif.jsf?ln=images/common/navi") no-repeat right top;
}
ul.toolNavi li.btn02 {
	background: url("/sd/javax.faces.resource/images/common/navi/btn_set.gif.jsf") no-repeat right top;
}
ul.toolNavi li.btn03 {
	background: url("/sd/javax.faces.resource/images/common/navi/btn_admin.gif.jsf") no-repeat right top;
}
.iconSend {
	background: url("/sd/javax.faces.resource/icon_send.gif.jsf?ln=images/common/navi") no-repeat 0px 1px;
}
.iconSet {
	background: url("/sd/javax.faces.resource/images/common/navi/icon_set.gif.jsf") no-repeat 0px 3px;
}
.iconAdmin {
	background: url("/sd/javax.faces.resource/images/common/navi/icon_admin.gif.jsf") no-repeat 0px 1px;
}
.btnHelp {
	background: url("/sd/javax.faces.resource/images/common/btn_help_lf.gif.jsf") no-repeat left top; margin: 0px; padding: 0px 0px 0px 3px; height: 20px; float: left; display: block;
}
.btnHelp a {
	background: url("/sd/javax.faces.resource/images/common/btn_help_rg.gif.jsf") no-repeat right top; padding: 0px 6px 0px 0px; height: 20px; float: left; display: block;
}
.btnHelp span.iconHelp {
	background: url("/sd/javax.faces.resource/images/common/icon_help.gif.jsf") no-repeat 0px 3px; height: 17px; line-height: 1; padding-top: 3px; padding-left: 14px; font-size: 12px; float: left; display: block;
}
.btnHelp a:link {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btnHelp a:visited {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btnHelp a:hover {
	color: rgb(153, 153, 153); text-decoration: none;
}
.logoImg {
	background: url("/sd/javax.faces.resource/images/common/logo_img_lf.gif.jsf") no-repeat left top; margin: 0px; padding: 0px 0px 0px 5px; height: 25px; color: rgb(255, 255, 255); line-height: 1; clear: both; font-size: 12px; font-weight: bold; display: block;
}
.logoImg p {
	background: url("/sd/javax.faces.resource/images/common/logo_img_rg.gif.jsf") no-repeat right top; margin: 0px; padding: 0px 12px 0px 5px; height: 25px; float: left; display: block;
}
.logoImg span {
	height: 19px; padding-top: 6px; float: left; display: block;
}
.iconLsmail {
	background: url("/sd/javax.faces.resource/images/common/icon_logo_smail.gif.jsf") no-repeat 1px 6px; padding-top: 3px; padding-left: 18px;
}
.iconLrtmail {
	background: url("/sd/javax.faces.resource/images/common/icon_logo_rtmail.gif.jsf") no-repeat 1px 5px; padding-top: 3px; padding-left: 18px;
}
.iconLrmail {
	background: url("/sd/javax.faces.resource/images/common/icon_logo_rmail.gif.jsf") no-repeat 0px 6px; padding-top: 3px; padding-left: 18px;
}
.iconLremail {
	background: url("/sd/javax.faces.resource/images/common/icon_logo_remail.gif.jsf") no-repeat 0px 8px; padding-top: 4px; padding-left: 18px;
}
ul.btnGroupOper {
	margin: 0px; padding: 0px;
}
ul.btnGroupOper li {
	margin: 5px 4px 0px 0px; padding: 5px 8px 3px 0px; height: 30px; color: rgb(44, 91, 177); overflow: hidden; float: left; position: relative;
}
ul.btnGroup {
	margin: 0px; padding: 0px;
}
ul.btnGroup li {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_lf.gif.jsf") no-repeat left top; margin: 8px 10px 0px 0px; height: 19px; float: left;
}
ul.btnGroupSend {
	margin: 0px; padding: 0px;
}
ul.btnGroupSend li {
	margin: 8px 10px 0px 0px; height: 19px; float: left;
}
ul.btnFunc {
	margin: 0px; padding: 0px;
}
ul.btnFunc li {
	background: url("/sd/javax.faces.resource/images/common/btn_func.gif.jsf") no-repeat right top; margin: 5px 4px 0px 0px; padding: 0px 8px 0px 0px; height: 24px; color: rgb(44, 91, 177); overflow: hidden; font-size: 12px; font-weight: bold; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left; position: relative;
}
ul.btnFunc li a {
	height: 24px; line-height: 1; padding-top: 7px; text-decoration: none; float: left;
}
ul.btnFunc li a span {
	background: no-repeat right top; line-height: 1; padding-right: 20px; text-decoration: none;
}
ul.btnFunc li a:link {
	color: rgb(44, 91, 177);
}
ul.btnFunc li a:visited {
	color: rgb(44, 91, 177);
}
ul.btnFunc li a:hover {
	color: rgb(80, 132, 255);
}
ul.btnFunc2 {
	margin: 0px; padding: 0px;
}
ul.btnFunc2 li {
	background: url("/sd/javax.faces.resource/images/common/btn_func2_rg2.gif.jsf") no-repeat right top; margin: 5px 4px 0px 0px; padding: 2px 8px 3px 0px; height: 19px; color: rgb(44, 91, 177); overflow: hidden; font-size: 12px; font-weight: bold; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left;
}
ul.btnFunc2 li.func2first {
	margin-right: 0px;
}
ul.btnFunc2 li.func2 {
	background: url("/sd/javax.faces.resource/images/common/btn_func2_rg3.gif.jsf") no-repeat right top; padding: 5px 4px 3px; height: 16px; margin-right: 0px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
ul.btnFunc2 li.func2last {
	background: url("/sd/javax.faces.resource/images/common/btn_func2_rg4.gif.jsf") no-repeat right top; padding: 5px 14px 3px 0px; height: 16px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
ul.btnFunc2 li a {
	height: 19px; line-height: 1; padding-top: 5px; text-decoration: none; float: left;
}
ul.btnFunc2 li a span {
	line-height: 1; padding-right: 8px; text-decoration: none; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
ul.btnFunc2 li a:link {
	color: rgb(44, 91, 177);
}
ul.btnFunc2 li a:visited {
	color: rgb(44, 91, 177);
}
ul.btnFunc2 li a:hover {
	color: rgb(80, 132, 255);
}
ul.btnFunc2 li span.nolink {
	height: 20px; color: rgb(51, 51, 51); padding-top: 2px; display: inline-block;
}
.iconNewmail {
	background: url("/sd/javax.faces.resource/images/common/icon_newmail.gif.jsf") no-repeat 4px 5px; padding-left: 32px;
}
.iconDetails {
	background: url("/sd/javax.faces.resource/images/common/icon_details.gif.jsf") no-repeat 5px 0px; padding-left: 25px;
}
.iconCancel {
	background: url("/sd/javax.faces.resource/images/common/icon_cancel.gif.jsf") no-repeat 4px 5px; padding-left: 32px;
}
.iconCsv {
	background: url("/sd/javax.faces.resource/images/common/icon_csv.gif.jsf") no-repeat 4px 3px; padding-left: 28px;
}
.iconCsvprint {
	background: url("/sd/javax.faces.resource/images/common/icon_csvprint.gif.jsf") no-repeat 4px 3px; padding-left: 28px;
}
.iconRegister {
	background: url("/sd/javax.faces.resource/images/common/icon_register.gif.jsf") no-repeat 5px 2px; padding-left: 25px;
}
.iconUseredit {
	background: url("/sd/javax.faces.resource/images/common/icon_useredit.gif.jsf") no-repeat 5px 2px; padding-left: 25px;
}
.iconDelete {
	background: url("/sd/javax.faces.resource/images/common/icon_delete.gif.jsf") no-repeat 5px 2px; padding-left: 25px;
}
.iconSecuremail {
	background: url("/sd/javax.faces.resource/images/common/icon_securemail.gif.jsf") no-repeat 2px 4px; padding-left: 21px;
}
.iconRtmail {
	background: url("/sd/javax.faces.resource/images/common/icon_roundtripmail.gif.jsf") no-repeat 0px 3px; padding-left: 22px;
}
.iconReceiptmail {
	background: url("/sd/javax.faces.resource/images/common/icon_receiptmail.gif.jsf") no-repeat 2px 4px; padding-left: 21px;
}
.iconMailcheck {
	background: url("/sd/javax.faces.resource/images/common/icon_mailbox.gif.jsf") no-repeat 3px 3px; padding-left: 25px;
}
.iconRegister_small {
	background: url("/sd/javax.faces.resource/images/common/icon_register_small.gif.jsf") no-repeat 5px 2px; padding-left: 25px;
}
.iconUseredit_small {
	background: url("/sd/javax.faces.resource/images/common/icon_useredit_small.gif.jsf") no-repeat 5px 2px; padding-left: 25px;
}
.iconDelete_small {
	background: url("/sd/javax.faces.resource/images/common/icon_delete_small.gif.jsf") no-repeat 5px 2px; padding-left: 25px;
}
.btnNormal {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 8px; height: 19px;
}
.btnNormal a {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_rg.gif.jsf") no-repeat right top; padding: 4px 12px 0px 4px; height: 19px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnNormal a:link {
	color: rgb(44, 91, 177);
}
.btnNormal a:visited {
	color: rgb(44, 91, 177);
}
.btnNormal a:hover {
	color: rgb(80, 132, 255);
}
.btnDisabled {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_lf.gif.jsf") no-repeat left 4px; padding: 4px 0px 0px 8px; height: 19px;
}
.btnDisabled a {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_rg.gif.jsf") no-repeat right 0px; padding: 4px 12px 0px 4px; height: 19px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnDisabled span {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_rg.gif.jsf") no-repeat right 0px; padding: 4px 12px 0px 4px; height: 19px; color: gray; line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block; cursor: default;
}
.btnDisabled a:link {
	color: rgb(44, 91, 177);
}
.btnDisabled a:visited {
	color: rgb(44, 91, 177);
}
.btnDisabled a:hover {
	color: rgb(80, 132, 255);
}
.btnNoMargin {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_lf.gif.jsf") no-repeat left top; margin: 0px; padding: 0px 0px 0px 8px; height: 19px;
}
.btnNoMargin a {
	background: url("/sd/javax.faces.resource/images/common/btn_normal_rg.gif.jsf") no-repeat right top; padding: 4px 12px 0px 4px; height: 15px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnNoMargin a:link {
	color: rgb(44, 91, 177);
}
.btnNoMargin a:visited {
	color: rgb(44, 91, 177);
}
.btnNoMargin a:hover {
	color: rgb(80, 132, 255);
}
.tabNormal li {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 5px; height: 29px; margin-right: 1px; float: left;
}
.tabNormal a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_rg.gif.jsf") no-repeat right top; padding: 9px 12px 0px 7px; height: 29px; color: rgb(117, 117, 117); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal a:link {
	color: rgb(117, 117, 117);
}
.tabNormal a:visited {
	color: rgb(117, 117, 117);
}
.tabNormal a:hover {
	color: rgb(153, 153, 153);
}
.tabNormal li.on {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_on_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 5px; height: 29px; margin-right: 1px; float: left;
}
.tabNormal li.on a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_on_rg.gif.jsf") no-repeat right top; padding: 9px 12px 0px 7px; height: 29px; color: rgb(14, 74, 185); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal li.on a:link {
	color: rgb(14, 74, 185);
}
.tabNormal li.on a:visited {
	color: rgb(14, 74, 185);
}
.tabNormal li.on a:hover {
	color: rgb(80, 132, 255);
}
.tabNormal2 li {
	background: url("/sd/javax.faces.resource/images/common/tab_normal2_lf.gif.jsf") no-repeat left top; padding: 0px 3px 0px 4px; height: 23px; float: left;
}
.tabNormal2 a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal2_rg.gif.jsf") no-repeat right top; padding: 6px 20px 0px 6px; height: 23px; color: rgb(126, 126, 126); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal2 a:link {
	color: rgb(126, 126, 126);
}
.tabNormal2 a:visited {
	color: rgb(126, 126, 126);
}
.tabNormal2 a:hover {
	color: rgb(153, 153, 153);
}
.tabNormal2 li.on {
	background: url("/sd/javax.faces.resource/images/common/tab_normal2_on_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 4px; height: 23px; margin-right: 1px; float: left;
}
.tabNormal2 li.on a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal2_on_rg.gif.jsf") no-repeat right top; padding: 6px 20px 0px 6px; height: 23px; color: rgb(132, 132, 132); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal2 li.on a:link {
	color: rgb(132, 132, 132);
}
.tabNormal2 li.on a:visited {
	color: rgb(132, 132, 132);
}
.tabNormal2 li.on a:hover {
	color: rgb(80, 132, 255);
}
.tabNormal3 li {
	background: url("/sd/javax.faces.resource/images/common/tab_normal3_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 5px; height: 29px; margin-right: 1px; float: left;
}
.tabNormal3 a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal3_rg.gif.jsf") no-repeat right top; padding: 9px 12px 0px 7px; height: 20px; color: rgb(117, 117, 117); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal3 a:link {
	color: rgb(117, 117, 117);
}
.tabNormal3 a:visited {
	color: rgb(117, 117, 117);
}
.tabNormal3 a:hover {
	color: rgb(153, 153, 153);
}
.tabNormal3 li.on {
	background: url("/sd/javax.faces.resource/images/common/tab_normal3_on_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 5px; height: 29px; margin-right: 1px; float: left;
}
.tabNormal3 li.on a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal3_on_rg.gif.jsf") no-repeat right top; padding: 9px 12px 0px 7px; height: 20px; color: rgb(14, 74, 185); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal3 li.on a:link {
	color: rgb(14, 74, 185);
}
.tabNormal3 li.on a:visited {
	color: rgb(14, 74, 185);
}
.tabNormal3 li.on a:hover {
	color: rgb(80, 132, 255);
}
.tabNormal4 li {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 5px; height: 29px; margin-right: 1px; float: left;
}
.tabNormal4 a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_rg.gif.jsf") no-repeat right top; padding: 0px 12px 0px 7px; height: 29px; color: rgb(117, 117, 117); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal4 a:link {
	color: rgb(117, 117, 117);
}
.tabNormal4 a:visited {
	color: rgb(117, 117, 117);
}
.tabNormal4 a:hover {
	color: rgb(153, 153, 153);
}
.tabNormal4 li.on {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_on_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 5px; height: 29px; margin-right: 1px; float: left;
}
.tabNormal4 li.on a {
	background: url("/sd/javax.faces.resource/images/common/tab_normal_on_rg.gif.jsf") no-repeat right top; padding: 0px 12px 0px 7px; height: 29px; color: rgb(14, 74, 185); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.tabNormal4 li.on a:link {
	color: rgb(14, 74, 185);
}
.tabNormal4 li.on a:visited {
	color: rgb(14, 74, 185);
}
.tabNormal4 li.on a:hover {
	color: rgb(80, 132, 255);
}
.tabNormal4 li a span {
	height: 20px; padding-top: 9px; display: inline-block;
}
.tabNormal4 li a.on span {
	height: 20px; padding-top: 9px; display: inline-block;
}
li a .iconUserset {
	background: url("/sd/javax.faces.resource/images/common/icon_userset.gif.jsf") no-repeat 0px 5px; padding-left: 17px;
}
li.on a .iconUserset {
	background: url("/sd/javax.faces.resource/images/common/icon_userset_on.gif.jsf") no-repeat 0px 5px; padding-left: 17px;
}
li a .iconSystemset {
	background: url("/sd/javax.faces.resource/images/common/icon_systemset.gif.jsf") no-repeat 0px 8px; padding-left: 19px;
}
li.on a .iconSystemset {
	background: url("/sd/javax.faces.resource/images/common/icon_systemset_on.gif.jsf") no-repeat 0px 8px; padding-left: 19px;
}
li a .iconAddressset {
	background: url("/sd/javax.faces.resource/images/common/icon_addressset.gif.jsf") no-repeat 0px 7px; padding-left: 19px;
}
li.on a .iconAddressset {
	background: url("/sd/javax.faces.resource/images/common/icon_addressset_on.gif.jsf") no-repeat 0px 7px; padding-left: 19px;
}
li a .iconInfoset {
	background: url("/sd/javax.faces.resource/images/common/icon_infoset.gif.jsf") no-repeat 0px 7px; padding-left: 19px;
}
li.on a .iconInfoset {
	background: url("/sd/javax.faces.resource/images/common/icon_infoset_on.gif.jsf") no-repeat 0px 7px; padding-left: 19px;
}
li a .iconHistoryset {
	background: url("/sd/javax.faces.resource/images/common/icon_historyset.gif.jsf") no-repeat 0px 6px; padding-left: 21px;
}
li.on a .iconHistoryset {
	background: url("/sd/javax.faces.resource/images/common/icon_historyset_on.gif.jsf") no-repeat 0px 6px; padding-left: 21px;
}
.addressSelect {
	padding: 0px 10px 10px; border: 2px solid rgb(28, 135, 131); border-image: none;
}
.groupttl {
	background: rgb(28, 135, 131); margin: 0px; padding: 5px 8px; height: 14px; color: rgb(255, 255, 255); line-height: 1; font-weight: bold;
}
.groupttl2 {
	background: url("/sd/javax.faces.resource/images/common/option/icon_mail.gif.jsf") no-repeat 0px 0px rgb(28, 135, 131); margin: 0px; padding: 5px 8px; height: 14px; color: rgb(255, 255, 255); line-height: 1; font-weight: bold;
}
.graphArea {
	padding-top: 8px;
}
.maillist {
	width: 100%;
}
.iconMail {
	background: url("/sd/javax.faces.resource/images/common/option/icon_mail.gif.jsf") no-repeat 0px 0px; padding-left: 30px;
}
.frame1bottom {
	background: url("/sd/javax.faces.resource/images/common/option/frame1_bottom.gif.jsf");
}
.frame1left {
	background: url("/sd/javax.faces.resource/images/common/option/frame1_left.gif.jsf");
}
.frame1right {
	background: url("/sd/javax.faces.resource/images/common/option/frame1_right.gif.jsf") repeat-y right top;
}
.frame1titlebg {
	background: url("/sd/javax.faces.resource/images/common/option/frame1top.gif.jsf");
}
.frame2bottom {
	background: none;
}
.frame2left {
	background: none;
}
.frame2right {
	background: none;
}
.frame2titlebg {
	background: none;
}
.frame3titlebg {
	background: none;
}
.btnReplyon {
	background: url("/sd/javax.faces.resource/images/common/btn_reply_on_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 2px; height: 25px;
}
.btnReplyon a {
	background: url("/sd/javax.faces.resource/images/common/btn_reply_on_rg.gif.jsf") no-repeat right top; padding: 0px 10px 0px 4px; height: 25px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnReplyon a:link {
	color: rgb(44, 91, 177);
}
.btnReplyon a:visited {
	color: rgb(44, 91, 177);
}
.btnReplyon a:hover {
	color: rgb(80, 132, 255);
}
.iconReplyon {
	background: url("/sd/javax.faces.resource/images/common/icon_reply_on.gif.jsf") no-repeat 0px 5px; height: 17px; line-height: 1; padding-top: 7px; padding-left: 40px; font-size: 12px; float: left; display: block;
}
.iconAddress {
	background: url("/sd/javax.faces.resource/images/common/icon_address.gif.jsf") no-repeat 0px 1px; height: 17px; line-height: 1; padding-top: 7px; padding-left: 20px; font-size: 12px; float: left; display: block;
}
.btnReply {
	background: url("/sd/javax.faces.resource/images/common/btn_reply_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 2px; height: 25px;
}
.btnReply span {
	background: url("/sd/javax.faces.resource/images/common/btn_reply_rg.gif.jsf") no-repeat right top; padding: 6px 28px 0px 26px; height: 19px; color: rgb(117, 117, 117); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.iconInquiry {
	background: url("/sd/javax.faces.resource/images/common/icon_contact.gif.jsf") no-repeat 2px 6px; padding-left: 21px;
}
.iconInquiryHelp {
	background: url("/sd/javax.faces.resource/images/common/icon_contact_help.gif.jsf") no-repeat 2px 6px; padding-left: 21px;
}
.posiInquiry {
	top: -2px; right: 0px; position: absolute;
}
.posiShowTabSetting {
	top: 0px; right: 0px; position: absolute;
}
.btnTemplateSave {
	background: url("/sd/javax.faces.resource/images/common/btn_reply_on_lf.gif.jsf") no-repeat left top; padding: 0px 0px 0px 2px; height: 25px;
}
.btnTemplateSave a {
	background: url("/sd/javax.faces.resource/images/common/btn_reply_on_rg.gif.jsf") no-repeat right top; padding: 6px 10px 0px 6px; height: 25px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnTemplateSave a:link {
	color: rgb(44, 91, 177);
}
.btnTemplateSave a:visited {
	color: rgb(44, 91, 177);
}
.btnTemplateSave a:hover {
	color: rgb(80, 132, 255);
}
.iconTmpSend {
	background: url("/sd/javax.faces.resource/images/common/icon_tmp_send.gif.jsf") no-repeat 6px 3px; padding-left: 28px;
}
.iconTmpEdit {
	background: url("/sd/javax.faces.resource/images/common/icon_tmp_edit.gif.jsf") no-repeat 6px 3px; padding-left: 28px;
}
.iconTmpDel {
	background: url("/sd/javax.faces.resource/images/common/icon_tmp_del.gif.jsf") no-repeat 6px 3px; padding-left: 28px;
}
.btnStreaming {
	background: url("/sd/javax.faces.resource/images/common/btn_logout_lf.gif.jsf") no-repeat left top; padding: 0px 50px 0px 10px; height: 19px;
}
.btnStreaming a {
	background: url("/sd/javax.faces.resource/images/common/btn_logout_rg.gif.jsf") no-repeat right top; padding: 4px 20px 0px 10px; height: 15px; color: rgb(44, 91, 177); line-height: 1; font-weight: bold; text-decoration: none; float: left; display: block;
}
.btnStreaming a:link {
	color: rgb(44, 91, 177);
}
.btnStreaming a:visited {
	color: rgb(44, 91, 177);
}
.btnStreaming a:hover {
	color: rgb(80, 132, 255);
}
