HTML {
	SCROLLBAR-HIGHLIGHT-COLOR: #99ccff; SCROLLBAR-FACE-COLOR: #3366cc; SCROLLBAR-3DLIGHT-COLOR: #666666; SCROLLBAR-BASE-COLOR: #3366cc; SCROLLBAR-ARROW-COLOR: #cc0000; SCROLLBAR-SHADOW-COLOR: #333333; SCROLLBAR-DARKSHADOW-COLOR: #333333
}
BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: #99ccff; BACKGROUND-IMAGE: url(../gif/body_background.jpg); BACKGROUND-REPEAT: repeat-x; SCROLLBAR-FACE-COLOR: #3366cc; SCROLLBAR-3DLIGHT-COLOR: #666666; SCROLLBAR-BASE-COLOR: #3366cc; SCROLLBAR-ARROW-COLOR: #cc0000; MARGIN-TOP: 0px; SCROLLBAR-SHADOW-COLOR: #333333; BACKGROUND-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #333333
}
BODY.bottom {
	SCROLLBAR-HIGHLIGHT-COLOR: #99ccff; BACKGROUND-IMAGE: url(../gif/5by35penetration.gif); BACKGROUND-REPEAT: repeat-x; SCROLLBAR-FACE-COLOR: #3366cc; SCROLLBAR-3DLIGHT-COLOR: #666666; SCROLLBAR-BASE-COLOR: #3366cc; SCROLLBAR-ARROW-COLOR: #cc0000; MARGIN-TOP: 0px; SCROLLBAR-SHADOW-COLOR: #333333; BACKGROUND-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #333333
}
A:link {
	TEXT-DECORATION: underline; COLOR: #333333
}
A:visited {
	TEXT-DECORATION: underline; COLOR: #333333
}
A:hover {
	TEXT-DECORATION: none; COLOR: #3366cc
}
A:active {
	TEXT-DECORATION: underline; COLOR: #66ffff
}
.HdCelL {
	BORDER-TOP: #99ccff thick; BORDER-RIGHT: #99ccff thick solid; BACKGROUND: #3366cc; WHITE-SPACE: nowrap; BORDER-BOTTOM: #99ccff thick; FONT-WEIGHT: bold; COLOR: #ffffff; BORDER-LEFT: #99ccff thick solid
}
.HdCelS {
	BORDER-TOP: #99ccff thick; BORDER-RIGHT: #99ccff thick solid; BACKGROUND: #99ccff; WHITE-SPACE: nowrap; BORDER-BOTTOM: #99ccff thick; FONT-WEIGHT: bold; COLOR: #3366cc; BORDER-LEFT: #99ccff thick solid
}
.BdCel1 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #ffffff; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel2 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #e1eaf3; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel3 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #ff0000; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel4 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #ccffcc; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel5 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #e0ffff; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel6 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #eeeeee; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel7 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #eeeeee; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel8 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel9 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BORDER-BOTTOM: #ffffff thick; COLOR: #ff0000; BORDER-LEFT: #ffffff thick
}
.BdCel10 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #ffc7ce; BORDER-BOTTOM: #ffffff thick; COLOR: #000000; BORDER-LEFT: #ffffff thick
}
.BdCel11 {
	BORDER-TOP: #ffffff thick; BORDER-RIGHT: #ffffff thick; BACKGROUND: #ff0000; BORDER-BOTTOM: #ffffff thick; COLOR: #ffffff; BORDER-LEFT: #ffffff thick
}
.BdCel12 {
	BORDER-TOP: lightpink 2px solid; BORDER-RIGHT: lightpink 2px solid; BORDER-BOTTOM: lightpink 2px solid; COLOR: #000000; BORDER-LEFT: lightpink 2px solid
}
.BdCel13 {
	BORDER-TOP: lightpink 2px solid; BORDER-RIGHT: lightpink 2px solid; BACKGROUND: #e1eaf3; BORDER-BOTTOM: lightpink 2px solid; COLOR: #000000; BORDER-LEFT: lightpink 2px solid
}
.InputTxtR {
	TEXT-ALIGN: right; BACKGROUND-COLOR: #e1eaf3
}
.InputTxtL {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #e1eaf3
}
.InputSelect {
	BACKGROUND-COLOR: #e1eaf3
}
.InputList {
	BACKGROUND-COLOR: #e1eaf3
}
.InputRadio {
	
}
.InputCheck {
	
}
.kinoutitle {
	FONT-SIZE: 12pt; TEXT-DECORATION: none; FONT-FAMILY: '‚l‚r ‚oƒSƒVƒbƒN',Osaka; FONT-WEIGHT: bolder; FONT-STYLE: normal
}
