body {
	font: 13px/140% "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS PGothic", sans-serif; color: rgb(63, 63, 63); font-size-adjust: none; font-stretch: normal;
}
* html .png {
	top: -2px; position: relative;
}
.header_wrap {
	background: url("../img/header/header_back.jpg") repeat-x; height: 80px;
}
.header {
	width: 100%; height: 50px;
}
.logout {
	padding-top: 11px; text-decoration: none; margin-right: 30px; margin-left: 20px; float: right;
}
.logout a {
	background: url("../img/header/logout_back.jpg") no-repeat left; padding: 4px 0px 0px; width: 90px; height: 21px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; display: inline-block;
}
.logout a:hover {
	text-decoration: none;
}
.logout img {
	vertical-align: bottom;
}
.user {
	background: url("../img/header/user01.gif") no-repeat left 17px; padding-top: 15px; float: right;
}
.user dt {
	padding: 0px 10px 0px 21px; display: inline; -ms-zoom: 1;
}
.user dd {
	display: inline;
}
.proxyLogin {
	padding: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; text-align: center; color: rgb(255, 255, 255); font-size: 12px; text-decoration: none; display: inline; background-color: rgb(178, 0, 26);
}
.g_menu {
	background: url("../img/header/g_menu_back.jpg") repeat-x; padding-left: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; _margin-bottom: -13px;
}
.g_menu li {
	height: 29px; float: left;
}
.g_menu li a {
	height: 22px; color: rgb(51, 51, 51); letter-spacing: 1px; text-decoration: none; display: block;
}
#ad .g_menu li a {
	color: rgb(0, 0, 0);
}
.g_menu li a:hover {
	color: rgb(51, 51, 51);
}
.gm01 {
	background: url("../img/header/g_menu01.gif?ver=4") no-repeat; width: 117px;
}
.gm02 {
	background: url("../img/header/g_menu02.gif?ver=4") no-repeat; width: 115px;
}
.gm03 {
	background: url("../img/header/g_menu03.gif?ver=4") no-repeat; width: 115px;
}
.gm04 {
	background: url("../img/header/g_menu04.gif?ver=4") no-repeat; width: 115px;
}
.gm05 {
	background: url("../img/header/g_menu05.gif?ver=4") no-repeat; width: 117px;
}
.gm06 {
	background: url("../img/header/g_menu06.gif?ver=4") no-repeat; width: 115px;
}
.gm07 {
	background: url("../img/header/g_menu07.gif?ver=4") no-repeat; width: 115px;
}
.gm08 {
	background: url("../img/header/g_menu08.gif?ver=4") no-repeat; width: 115px;
}
.gm01 a {
	background: url("../img/header/g_menu01.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 87px;
}
.gm02 a {
	background: url("../img/header/g_menu02.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 85px;
}
.gm03 a {
	background: url("../img/header/g_menu03.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 85px;
}
.gm04 a {
	background: url("../img/header/g_menu04.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 85px;
}
.gm05 a {
	background: url("../img/header/g_menu05.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 87px;
}
.gm06 a {
	background: url("../img/header/g_menu06.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 85px;
}
.gm07 a {
	background: url("../img/header/g_menu07.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 85px;
}
.gm08 a {
	background: url("../img/header/g_menu08.gif?ver=4") no-repeat; padding: 7px 0px 0px 30px; width: 85px;
}
.gm01 a:hover {
	background: url("../img/header/g_menu01_on.gif?ver=4") no-repeat;
}
.gm02 a:hover {
	background: url("../img/header/g_menu02_on.gif?ver=4") no-repeat;
}
.gm03 a:hover {
	background: url("../img/header/g_menu03_on.gif?ver=4") no-repeat;
}
.gm04 a:hover {
	background: url("../img/header/g_menu04_on.gif?ver=4") no-repeat;
}
.gm05 a:hover {
	background: url("../img/header/g_menu05_on.gif?ver=4") no-repeat;
}
.gm06 a:hover {
	background: url("../img/header/g_menu06_on.gif?ver=4") no-repeat;
}
.gm07 a:hover {
	background: url("../img/header/g_menu07_on.gif?ver=4") no-repeat;
}
.gm08 a:hover {
	background: url("../img/header/g_menu08_on.gif?ver=4") no-repeat;
}
h1 {
	padding: 2px 0px 0px 12px; float: left;
}
.side {
	vertical-align: top;
}
.s_menu {
	margin: 8px 0px 0px 5px; width: 146px; font-size: 13px; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
.s_menu dl {
	padding-bottom: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.s_menu dt {
	background: url("../img/menu/s_menu_back.jpg") repeat-x; height: 30px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.s_menu dl dd {
	padding: 7px 8px 0px 13px; line-height: 18px;
}
.s_menu dl dd a {
	width: 100%; color: rgb(63, 63, 63); text-decoration: none; display: block;
}
.s_menu dl dd a:hover {
	background: rgb(252, 211, 211); color: rgb(229, 21, 31); text-decoration: none;
}
.s_menu dl dd.sm_items {
	line-height: 15px; font-size: 12px;
}
.s_menu dl dd.sm_items a {
	width: 125px; overflow: hidden; white-space: pre;
}
.s_menu dl dd.sm_items a img {
	margin: 3px 2px 2px 5px;
}
.sm01 {
	background: url("../img/menu/s_menu01.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm02 {
	background: url("../img/menu/s_menu02.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm03 {
	background: url("../img/menu/s_menu03.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm04 {
	background: url("../img/menu/s_menu04.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm05 {
	background: url("../img/menu/s_menu05.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm06 {
	background: url("../img/menu/s_menu06.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm07 {
	background: url("../img/menu/s_menu07.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm08 {
	background: url("../img/menu/s_menu08.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
.sm09 {
	background: url("../img/menu/s_menu09.gif") no-repeat left 6px; padding: 7px 0px 0px 24px; height: 23px; margin-left: 8px;
}
div.globalMain {
	margin: 8px 0px 5px 8px; border: 0px solid rgb(204, 204, 204); border-image: none; width: auto !important; height: auto !important; font-size: 13px; min-height: 625px; min-width: 800px;
}
div.mainTitle {
	background: url("../img/menu/s_menu_back.jpg") repeat-x; border: 1px solid rgb(204, 204, 204); border-image: none; height: 30px; line-height: 30px; padding-left: 5px; font-size: 15px; font-weight: bold;
}
div.mainMenu {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap; background-color: rgb(243, 243, 243);
}
div.mainMenu a {
	color: blue;
}
.main {
	margin: 12px 0px 0px 12px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 826px; padding-bottom: 30px; padding-left: 10px; background-color: rgb(255, 255, 255);
}
tr.list01 {
	font-size: 13px; background-color: rgb(243, 243, 243);
}
tr.list02 {
	font-size: 13px; background-color: rgb(255, 255, 255);
}
.caution {
	color: rgb(204, 51, 51);
}
.icon {
	width: 50px; text-align: right;
}
.label {
	width: 400px;
}
input.button01 {
	background: url("../img/bt_back00.jpg") repeat-x left bottom; font-size: 13px; cursor: pointer;
}
input.button02 {
	background: url("../img/bt_back01.jpg") repeat-x left bottom; font-size: 13px; cursor: pointer;
}
input.button03 {
	background: url("../img/bt_back02.jpg") repeat-x left bottom; font-size: 13px; cursor: pointer;
}
.footer {
	padding: 5px 30px 20px 0px; margin-top: 10px; border-top-color: rgb(170, 170, 170); border-top-width: 2px; border-top-style: solid;
}
.footer p {
	width: 100%; text-align: right;
}
#ad .header_wrap {
	background: url("../img/header/ad_header_back.jpg") repeat-x; height: 80px;
}
#ad .header {
	width: 100%; height: 50px;
}
#ad .logout {
	color: rgb(255, 255, 255); padding-top: 11px; text-decoration: none; margin-right: 30px; margin-left: 20px; float: right;
}
#ad .logout a {
	background: url("../img/header/logout_back02.jpg") no-repeat left; padding: 4px 0px 0px; width: 90px; height: 21px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; display: inline-block;
}
#ad .logout a:hover {
	text-decoration: none;
}
#ad .user {
	background: url("../img/header/user02.gif") no-repeat left 17px; color: rgb(255, 255, 255); padding-top: 15px; float: right;
}
#ad .user dt {
	padding: 0px 10px 0px 21px; display: inline; -ms-zoom: 1;
}
#ad .user dd {
	display: inline;
}
.copy {
	padding: 14px 0px 0px 27px; float: left;
}
.head_line01 {
	padding-right: 11px; float: left;
}
.head_line02 {
	padding-right: 11px; float: right;
}
#ad .g_menu {
	background: url("../img/header/g_menu_back2.jpg") repeat-x; padding-left: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; _margin-bottom: -13px;
}
#ad .footer {
	padding: 5px 30px 20px 0px; margin-top: 10px; border-top-color: rgb(137, 0, 21); border-top-width: 2px; border-top-style: solid;
}
#login #wrap {
	margin: -192px 0px 0px -173px; left: 50%; top: 45%; width: 346px; height: 385px; position: absolute;
}
#login .main_img {
	margin-bottom: 10px;
}
#login .login_form {
	padding-left: 42px;
}
#login .login_box dt {
	font-size: 11px;
}
#login .login_box dd.input {
	vertical-align: middle;
}
#login .login_box dd input {
	background: url("../img/login_form_back.gif") repeat-x left top; padding: 5px 0px 0px 5px; border: 1px solid rgb(211, 211, 211); border-image: none; width: 255px; height: 19px; font-size: 12px; margin-bottom: 10px;
}
#login .login_box dd.password input {
	margin-bottom: 7px;
}
#login .check {
	font-size: 11px;
}
#login .check input {
	vertical-align: -2px;
}
#login .login_button li {
	width: 119px; padding-left: 9px; float: left;
}
#login .login_button {
	margin-top: 20px; margin-bottom: 10px;
}
