body {
	color: rgb(51, 51, 51); font-size: 95%; background-image: url("../image/cybozu/bg_transparent.png"); background-attachment: fixed; background-color: rgb(255, 255, 255);
}
#headerimage {
	display: none;
}
.appmenu-item a:link {
	color: rgb(53, 88, 110); text-decoration: none; text-shadow: none;
}
.appmenu-item_e a:link {
	color: rgb(53, 88, 110); text-decoration: none; text-shadow: none;
}
.appmenu-item a:visited {
	color: rgb(53, 88, 110); text-decoration: none; text-shadow: none;
}
.appmenu-item_e a:visited {
	color: rgb(53, 88, 110); text-decoration: none; text-shadow: none;
}
.appmenu-item a:hover {
	color: rgb(204, 51, 0); text-decoration: none; text-shadow: none;
}
.appmenu-item_e a:hover {
	color: rgb(204, 51, 0); text-decoration: none; text-shadow: none;
}
.portal_frame .appmenu-item a:link {
	color: rgb(10, 98, 173); text-shadow: none;
}
.portal_frame .appmenu-item_e a:link {
	color: rgb(10, 98, 173); text-shadow: none;
}
.portal_frame .appmenu-item a:visited {
	color: rgb(10, 98, 173); text-shadow: none;
}
.portal_frame .appmenu-item_e a:visited {
	color: rgb(10, 98, 173); text-shadow: none;
}
.portal_frame .appmenu-item span {
	color: rgb(10, 98, 173); text-shadow: none;
}
.portal_frame .appmenu-item a:hover {
	color: rgb(204, 51, 0);
}
.portal_frame .appmenu-item_e a:hover {
	color: rgb(204, 51, 0);
}
.applicationMenu-grn {
	background-position: 0px 20px; padding-top: 27px; background-image: url("../image/cybozu/default/bg-appmenu.jpg"); background-repeat: no-repeat; background-color: rgb(166, 224, 236);
}
div.appmenuToggleWrapper {
	text-align: center; border-top-color: rgb(243, 243, 243); border-bottom-color: rgb(187, 187, 187); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; cursor: pointer; box-shadow: 0px 1px 2px #ccc; background-repeat: repeat-x; background-color: rgb(221, 221, 221);
}
div.appmenuToggleWrapper div.appmenuExpand {
	background-position: center; width: 101px; font-size: 1px; margin-right: auto; margin-left: auto; background-image: url("../image/cybozu/default/gr_appmenu_togglebar_symbol_close.jpg"); background-repeat: no-repeat;
}
div.appmenuToggleWrapper div.appmenuCollapse {
	background-position: center; width: 101px; font-size: 1px; margin-right: auto; margin-left: auto; background-image: url("../image/cybozu/default/gr_appmenu_togglebar_symbol_open.jpg"); background-repeat: no-repeat;
}
.tab_on {
	color: rgb(231, 249, 250); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #1ea1b4;
}
.tab_on a:link {
	color: rgb(231, 249, 250); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #1ea1b4;
}
.tab_on a:visited {
	color: rgb(231, 249, 250); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #1ea1b4;
}
.tab_on a:hover {
	color: rgb(248, 254, 158); font-weight: bold; text-decoration: none; text-shadow: 0px 1px #1ea1b4;
}
.tab_off a:link {
	color: rgb(86, 86, 86); text-decoration: none; text-shadow: 0px 1px #fff;
}
.tab_off a:visited {
	color: rgb(86, 86, 86); text-decoration: none; text-shadow: 0px 1px #fff;
}
.tab_off a:hover {
	color: rgb(204, 51, 0); text-decoration: none; text-shadow: 0px 1px #fff;
}
.tab_left_on {
	background-image: url("../image/cybozu/default/tab_left_on.png"); background-repeat: no-repeat;
}
.tab_on {
	background-image: url("../image/cybozu/default/tab_back_on.png"); background-repeat: repeat-x; background-color: rgb(25, 180, 225);
}
.tab_right_on {
	background-image: url("../image/cybozu/default/tab_right_on.png"); background-repeat: no-repeat;
}
.tab_left_off {
	background-image: url("../image/cybozu/default/tab_left.png"); background-repeat: no-repeat;
}
.tab_off {
	background-image: url("../image/cybozu/default/tab_back.png"); background-repeat: repeat-x; background-color: rgb(230, 230, 230);
}
.tab_right_off {
	background-image: url("../image/cybozu/default/tab_right.png"); background-repeat: no-repeat;
}
.tab_menu_end {
	height: 6px; clear: both; font-size: 1px; background-color: rgb(25, 180, 225);
}
.globalNavi-item-grn {
	height: 20px;
}
.global_navi {
	background-position: 0px 0px; margin-bottom: 7px; border-bottom-color: rgb(198, 198, 198); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 2px #d6d6d6; text-shadow: 0px 1px #fbfbfb; background-image: url("../image/cybozu/default/pathbar_bg.jpg"); background-repeat: repeat-x; background-color: rgb(218, 218, 218);
}
.global_navi_title {
	background-position: 0px 0px; margin-bottom: 7px; border-bottom-color: rgb(198, 198, 198); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 2px #d6d6d6; text-shadow: 0px 1px #fbfbfb; background-image: url("../image/cybozu/default/pathbar_bg.jpg"); background-repeat: repeat-x; background-color: rgb(218, 218, 218);
}
.global_naviBackTab-viewChange-grn {
	background: url("../image/cybozu/default/pathbar_bg.jpg") repeat-x rgb(218, 218, 218);
}
.global_naviBackTab-viewChange-grn:link {
	background: url("../image/cybozu/default/pathbar_bg.jpg") repeat-x rgb(218, 218, 218);
}
.global_naviBackTab-viewChange-grn:visited {
	background: url("../image/cybozu/default/pathbar_bg.jpg") repeat-x rgb(218, 218, 218);
}
.global_naviBackTab-viewChange-grn:hover {
	background: rgb(204, 228, 241);
}
#main_menu_part {
	margin: 2px 0px 5px; padding: 2px 0px 5px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
#menu_part {
	margin: 2px 0px 5px; padding: 2px 0px 5px; border-bottom-color: rgb(227, 227, 227); border-bottom-width: 1px; border-bottom-style: solid;
}
.mainareaSchedule-grn .fullmenu_grn #main_menu_part {
	border-bottom-color: rgb(214, 214, 214); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 2px #e3e3e3; background-color: rgb(246, 246, 246);
}
.subwindow_menupart_grn {
	border-bottom-color: rgb(214, 214, 214); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 2px #e3e3e3; background-color: rgb(246, 246, 246);
}
#view_part {
	padding-left: 7px; border-left-color: rgb(227, 227, 227); border-left-width: 1px; border-left-style: solid;
}
.bg_personal20 #view_part {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.bg_personal20 .list_menu {
	background-color: rgb(237, 237, 237);
}
.list_column th {
	background-color: rgb(235, 235, 235);
}
.space-todoList-listColumn-grn table th {
	background-color: rgb(235, 235, 235);
}
.lineone {
	background-color: rgb(246, 246, 246);
}
.linetwo {
	background-color: rgb(255, 255, 255);
}
.view_table th {
	border: 1px solid rgb(219, 219, 219); border-image: none; background-color: rgb(243, 243, 243);
}
.viewTable-grn th {
	border-right-width: 1px; border-right-style: solid;
}
.view_table td {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.viewTable-grn th {
	border-color: rgb(227, 227, 227);
}
.viewTable-grn td {
	border-color: rgb(227, 227, 227);
}
.std_form th {
	background: 0px 0px rgb(238, 238, 238);
}
.bg_admin20 .list_column th {
	background: 0px 0px rgb(238, 238, 238); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_path_table .list_column th {
	background: 0px 0px rgb(238, 238, 238); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_path_table_simple .list_column th {
	background: 0px 0px rgb(238, 238, 238); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_route_change_history .list_column th {
	background: 0px 0px rgb(238, 238, 238); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.rp_list .list_column th {
	background: 0px 0px rgb(238, 238, 238); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.bg_admin20 .list_column td {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_path_table .list_column td {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_path_table_simple .list_column td {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_route_change_history .list_column td {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.rp_list .list_column td {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.bg_admin20 .list_column {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_path_table .list_column {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_route_change_history .list_column {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.wf_path_table_simple .list_column {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.admin_list_table th {
	background: 0px 0px rgb(238, 238, 238); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.admin_list_table td {
	background: 0px 0px rgb(255, 255, 255); border: 1px solid rgb(219, 219, 219); border-image: none;
}
.fileup_info th {
	background: 0px 0px rgb(238, 238, 238); border-bottom-color: rgb(219, 219, 219); border-bottom-width: 1px; border-bottom-style: solid;
}
.fileup_info {
	border: 1px solid rgb(219, 219, 219); border-image: none;
}
.common-border-grn {
	height: 0px; font-size: 0px; margin-top: 10px; margin-bottom: 10px; border-top-color: rgb(227, 227, 227); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.follow-border-grn {
	height: 0px; font-size: 0px; margin-top: 0px; margin-bottom: 7px; border-top-color: rgb(201, 201, 201); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.border-partition-common-grn {
	border-top-color: rgb(227, 227, 227); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.border-partition-follow-grn {
	border-top-color: rgb(201, 201, 201); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.extension_menu {
	border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: dashed;
}
.hilight {
	padding: 0px 2px; border-radius: 4px; border: 1px solid rgb(188, 205, 237); border-image: none; background-color: rgb(197, 220, 242);
}
.tree-select-current {
	padding: 0px 2px; border-radius: 4px; border: 1px solid rgb(188, 205, 237); border-image: none; background-color: rgb(197, 220, 242);
}
.naviColumn .hilight {
	border: 1px solid rgb(159, 186, 237); border-image: none;
}
.space-threadList-inner-grn .hilight {
	background: rgb(231, 237, 244); border-radius: 0px; border: 0px currentColor; border-image: none;
}
.space-todoLeft-inner-grn .hilight {
	background: rgb(231, 237, 244); border-radius: 0px; border: 0px currentColor; border-image: none;
}
.unread_color {
	border: 1px solid rgb(232, 196, 124); border-image: none; background-color: rgb(252, 244, 225);
}
.admin_icons a:link {
	background-image: url("../image/cybozu/image-common/setbutton_bg.jpg"); background-repeat: repeat-x; background-color: rgb(222, 222, 222);
}
.admin_icons a:visited {
	background-image: url("../image/cybozu/image-common/setbutton_bg.jpg"); background-repeat: repeat-x; background-color: rgb(222, 222, 222);
}
.admin_icons a:hover {
	border: 1px solid rgb(138, 177, 209); border-image: none; background-image: none; background-color: rgb(225, 237, 249);
}
#tree_part {
	padding: 5px 5px 0px 0px; width: 19%;
}
.bg_personal20 #tree_part {
	border-radius: 3px; background-color: rgb(228, 233, 240);
}
.naviColumn {
	border-radius: 3px; background-color: rgb(228, 233, 240);
}
.tree-unread-num {
	font-size: 90%;
}
#tree_part .border-partition-common-grn {
	border-top-color: rgb(227, 227, 227); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
table.top_title {
	border: 1px solid rgb(201, 201, 201); border-image: none; text-shadow: 0px 1px #e9e9e9; background-image: url("../image/cybozu/default/portletTitle_bg.jpg"); background-repeat: repeat-x; background-color: rgb(222, 222, 222);
}
table.top_title a:link {
	color: rgb(73, 123, 158);
}
table.top_title a:visited {
	color: rgb(73, 123, 158);
}
.space-thread-grn {
	border-left-color: rgb(227, 227, 227); border-left-width: 1px; border-left-style: solid;
}
.space-todoList-grn {
	border-left-color: rgb(227, 227, 227); border-left-width: 1px; border-left-style: solid;
}
.space-threadList-border-grn {
	border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.space-todoleft-border-grn {
	border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.space-thread-pager-grn {
	border-top-color: rgb(227, 227, 227); border-top-width: 1px; border-top-style: solid;
}
.space-thread-pager-top-grn {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.space-thread-followForm-grn {
	border-radius: 7px; background-color: rgb(231, 237, 244);
}
.space-thread-followForm-grn .autoexpand {
	border-radius: 5px; border: 1px solid rgb(183, 198, 217); border-image: none; box-shadow: 0px 1px #fff;
}
.space-thread-follow-grn {
	border-top-color: rgb(201, 201, 201); border-top-width: 1px; border-top-style: solid;
}
.space-threadRightList-tabCurrent-grn {
	border-width: 1px; border-style: solid; border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(231, 237, 244); border-image: none; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(231, 237, 244);
}
.space-threadRightList-tab-grn {
	border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(170, 170, 170); border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: rgb(255, 255, 255);
}
.space-threadRightList-body-grn {
	background-color: rgb(231, 237, 244);
}
.space-threadRightList-body-grn ul.space-threadRightList-todo-grn {
	border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
.space-threadRightList-gripOpen-grn {
	background-image: url("../image/cybozu/default/btn-threadrightlist-grip.png");
}
.space-threadRightList-gripOpen-grn:hover {
	background-image: url("../image/cybozu/default/btn-threadrightlist-grip.png");
}
.space-threadRightList-gripClose-grn {
	background-image: url("../image/cybozu/default/btn-threadrightlist-grip.png");
}
.space-threadRightList-gripClose-grn:hover {
	background-image: url("../image/cybozu/default/btn-threadrightlist-grip.png");
}
.space-thread-comment-footer-grn a:link {
	color: rgb(111, 153, 182);
}
.space-thread-comment-footer-grn a:visited {
	color: rgb(111, 153, 182);
}
.space-todo-comment-footer-grn a:link {
	color: rgb(111, 153, 182);
}
.space-todo-comment-footer-grn a:visited {
	color: rgb(111, 153, 182);
}
.comment-grn a:link {
	color: rgb(111, 153, 182);
}
.comment-grn a:visited {
	color: rgb(111, 153, 182);
}
.bodytext_footer_grn a:link {
	color: rgb(111, 153, 182);
}
.bodytext_footer_grn a:visited {
	color: rgb(111, 153, 182);
}
.space-todoList-listColumn-grn table {
	border: 0px currentColor; border-image: none;
}
.footer_grn {
	background-color: rgb(238, 238, 238);
}
.credit {
	color: rgb(102, 102, 102);
}
.link_body_color_grn a:link {
	color: rgb(51, 51, 51);
}
.link_body_color_grn a:visited {
	color: rgb(51, 51, 51);
}
a:link {
	color: rgb(10, 98, 173); text-decoration: none;
}
a:visited {
	color: rgb(10, 98, 173); text-decoration: none;
}
#main_menu_part a:link {
	color: rgb(10, 98, 173); text-decoration: none;
}
#main_menu_part a:visited {
	color: rgb(10, 98, 173); text-decoration: none;
}
#menu_part a:link {
	color: rgb(10, 98, 173); text-decoration: none;
}
#menu_part a:visited {
	color: rgb(10, 98, 173); text-decoration: none;
}
#footer a:link {
	color: rgb(10, 98, 173); text-decoration: none;
}
#footer a:visited {
	color: rgb(10, 98, 173); text-decoration: none;
}
.globalNavi-item-grn a:link {
	color: rgb(10, 98, 173); text-decoration: none;
}
.globalNavi-item-grn a:visited {
	color: rgb(10, 98, 173); text-decoration: none;
}
.file_input_div {
	color: rgb(10, 98, 173); text-decoration: none;
}
a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
a:active {
	color: rgb(204, 51, 0); text-decoration: underline;
}
#main_menu_part a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
#menu_part a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
#footer a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.globalNavi-item-grn a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.globalNavi-item-grn a:active {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.space-thread-comment-footer-grn a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.space-todo-comment-footer-grn a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
table.top_title a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.comment-grn a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.bodytext_footer_grn a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.link_body_color_grn a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
.normalEventElement a:link {
	color: rgb(40, 105, 171); text-decoration: none;
}
.normalEventElement a:visited {
	color: rgb(40, 105, 171); text-decoration: none;
}
.normalEventElement a:hover {
	color: rgb(204, 51, 0); text-decoration: underline;
}
