body {
	min-width: 100px;
}
.login_base #header-wrap {
	position: static;
}
#header-wrap {
	position: static;
}
.cloudHeader-grn {
	position: static;
}
.cloudHeader-grn {
	min-width: 100px;
}
#one_parts #action {
	width: 100%;
}
.center_block {
	margin: 15px 12px 10px;
}
.login_base {
	background-image: none; background-color: rgb(249, 249, 249);
}
.center_list {
	padding: 5px 15px 10px; border-radius: 8px; border: 4px solid rgb(198, 217, 229); border-image: none; width: auto; box-shadow: none; background-image: none; background-color: rgb(228, 234, 241);
}
.company {
	padding-bottom: 10px; font-size: 17px; margin-bottom: 4px; border-bottom-color: rgb(201, 201, 201); border-bottom-width: 1px; border-bottom-style: solid; text-shadow: none;
}
.login_message_grn {
	margin: 6px 0px 0px; font-size: 14px;
}
.login_up_line_grn {
	margin-right: 0px;
}
.center_block .login_label_grn {
	text-align: left; font-size: 14px; margin-top: 10px; margin-bottom: 4px; display: block;
}
.pw_label_sub_grn {
	display: inline;
}
.center_block .logintextfield {
	width: 100%; height: 32px; font-size: 16px; box-shadow: none; background-color: rgb(255, 255, 255);
}
.center_block .login_input_up_grn {
	margin: 0px 12px; text-align: left; display: block; position: relative;
}
.center_block .login_input_down_grn {
	margin: 0px 12px; text-align: left; display: block; position: relative;
}
.center_block .login_input_down_grn .login_button_grn {
	margin: 25px -12px 10px;
}
.center_block .login_name_grn {
	margin-left: -12px;
}
.center_block .login_password_grn {
	margin-left: -12px;
}
.center_block .login_checkbox_grn {
	margin-left: -12px;
}
.center_block .login_checkbox_grn {
	margin-top: 16px; margin-bottom: 0px;
}
.center_list #checkbox1_label {
	font-size: 14px;
}
small {
	display: block; argin: 0;
}
.center_list .login_margin {
	background: url("../image/cybozu/bg_transparent.png") rgb(81, 161, 219); padding: 10px; border-radius: 4px; border: 1px solid rgb(81, 161, 219); border-image: none; width: 100%; color: rgb(255, 255, 255); font-size: 16px; box-shadow: none;
}
.center_list .login_margin:hover {
	background: url("../image/cybozu/bg_transparent.png") rgb(48, 132, 193); border: 1px solid rgb(48, 132, 193); border-image: none;
}
.center_list .login_margin:active {
	background: url("../image/cybozu/bg_transparent.png") rgb(48, 132, 193); border: 1px solid rgb(48, 132, 193); border-image: none;
}
.center_list .login_margin {
	padding: 10px 16px;
}
